html {
    background: #0A1929;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
}

section[data-scrollbar="true"] {
    height: 100vh;
}

.scrollbar-track {
    background: transparent !important;
}

.scrollbar-track .scrollbar-thumb {
    background: white !important;
    border: solid 1px black;
    box-shadow: 0 0 5px 2px #0000008f;
}